#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

.fixed-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
}

.content-wrapper {
  position: relative;
  z-index: 1;
}